apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: online-boutique
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    namespace: {{ app_namespace }}
    server: https://kubernetes.default.svc
  source:
    repoURL: https://gitlab.com/api/v4/projects/64754633/packages/helm/stable
    targetRevision: '*'
    chart: onlineboutique-chart
    helm:
      skipCrds: false
      valuesObject:
        global:
          imagePullSecrets:
            - name: gitlab-registry-secret
        networkPolicies:
          create: true
        sidecars:
          create: true
        serviceAccounts:
          create: true
        opentelemetryCollector:
          create: {{ (tracing | bool or logging | bool) | string | lower }}
          tracing:
            enabled: {{ tracing | string | lower }}
          logging:
            enabled: {{ logging | string | lower }}
        googleCloudOperations:
          tracing: {{ tracing | string | lower }}
        frontend:
          externalService: false
          virtualService:
            create: true
            gateway:
              name: asm-ingressgateway
              namespace: asm-ingress
              labelKey: asm
              labelValue: ingressgateway
        loadGenerator:
          create: false
  project: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - ApplyOutOfSyncOnly=true
      - ServerSideApply=true
      - CreateNamespace=true